#summarytitle {
    display : inline-block;
    white-space: pre-wrap;
    color:  #666666;
    text-align: center;
}

.text-right {
    margin-top : 2px;
}

.text-center {
    margin-top : 2px;
    margin-bottom : 2px;
}

#groupsmgmttitle {
    display : inline-block;
    white-space: pre-wrap;
    color: #666666;
    text-align: center;
}
#groupusersmgmttitle {
     display : inline-block;
     white-space: pre-wrap;
     color: #666666;
     text-align: center;
 }

 #logintitle {

         padding: 15px 35px 45px;
         margin: 0 auto;
         background-color: #9999;
         border: 1px solid rgba(0,0,0,0.0);
  }

.selectedaction {
    background-color : #b8f8c2;
}
.btn-default{
background-color: #C8D7E1;
}